<div class="actividades-custom d-flex flex-column justify-content-center align-items-center py-5">
  <div class="actividades-encabezado text-center text-white mb-3">
    <h1 class="">Actividades del Rocódromo</h1>
    <p class="lead">
      Explora nuestros eventos y cursos disponibles
    </p>
  </div>

  <section class="seccion-actividades mb-3">
    <div>
      <h2 class="">Eventos disponibles</h2>
      <app-eventos-list></app-eventos-list>
    </div>

    <div>
      <h2 class="">Cursos disponibles</h2>
      <app-cursos-list></app-cursos-list>
    </div>
  </section>
</div>
