
/* Jumbotron */
.jumbotron-custom {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}
.jumbotron-custom h1 {
    font-size: 3.8rem; 
    letter-spacing: 1px;
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
}

.jumbotron-custom p {
    color: var(--blanco);
}
.btn-outline-light:hover {
    background-color: var(--verde-principal);
    color: var(--blanco);
}

.jumbotron-custom {
    background-image: url('/assets/images/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

