
.spinner-container {
    text-align: center;
    margin: 3rem 0;
}


.evento-page {
    background: linear-gradient(135deg, #0077b6, #00b48a);
    min-height: 100vh;
    padding: 1rem 0;
}


.evento-detail-card {
    max-width: 900px;
    min-height: 85vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: #f8f9fa;
    border-radius: 1rem;
    padding: 1.5rem 3rem;
    margin: 0 auto;
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.evento-image img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.evento-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--verde-principal);
}

.evento-description {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.evento-info {
  font-size: 1.15rem;
}

.evento-badge {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}

/* Precio */
.evento-price {
  font-size: 1.75rem;
  color: var(--verde-principal);
}

@media (max-width: 768px) {
  .evento-detail-card {
    padding: 2rem;
  }
  .evento-title {
    font-size: 2.2rem;
  }
  .evento-description {
    font-size: 1.1rem;
  }
  .evento-info {
    font-size: 1rem;
  }
  .evento-badge {
    font-size: 1rem;
  }
  .evento-price {
    font-size: 1.5rem;
  }
}
