<div class="curso-botonera">

  <a routerLink="/" class="btn btn-outline-primary btn">
    Volver Inicio
  </a>

  <!-- Botones para MONITOR -->
  @if (auth.getRole() === 'MONITOR') {
    <a routerLink="/monitor/" class="btn btn-outline-light btn">Volver a mis cursos</a>
  }     

  <!-- Botones para ADMIN -->
  @if (auth.getRole() === 'ADMON') {
    <button (click)="editar()" class="btn btn-outline-warning btn">
      Editar
    </button>
    <button (click)="eliminar()" class="btn btn-outline-danger btn">
      Eliminar
    </button>
    <a routerLink="/admin/cursos" class="btn btn-outline-primary btn">
      Cursos
    </a>
  }

  <!-- Botón para USUARIO -->
  @if (auth.getRole() === 'USUARIO') {
    <button (click)="inscribir()" class="btn btn-success btn">
      Inscribirse
    </button>
    <button (click)="cancelarInscripcion()" class="btn btn-outline-danger btn">
      Cancelar Inscripción
    </button>
    <button class="btn btn-outline-primary btn" (click)="volverAlPanel()">
      <i class="bi bi-arrow-left"></i> Volver a mi panel
    </button>
  }
</div>

